<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trendinit/Admin</title>
    <link rel="stylesheet" type="text/css" href="login.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style></style>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#myNavbar"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Trendinit</a>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/Sports">Sports</a></li>
            <li><a href="/Movies">Movies</a></li>
            <li><a href="/Technology">Technology</a></li>
            <li><a href="/Politics">Politics</a></li>
            <li><a href="/International">International</a></li>
            <li><a href="/Others">Others</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <h2 class="container">
        Please Login before doing any operations to site
      </h2>
      <div id="form" class="container">
        <form action="/auth/login" method="POST">
          <label>username</label>
          <input type="text" name="username" placeholder="enter username" />
          <br />
          <label>password</label>
          <input type="password" name="password" placeholder="enter password" />
          <br />
          <input type="submit" value="submit" />
        </form>
      </div>
    </div>
  </body>
</html>
